* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
}

img {
    max-width: 100%;
    height: auto;
}

.title {
    font-family: "Nerko One", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 3rem;
    color: #FE9614;
    text-shadow: 1px 1px rgb(171, 169, 169);

}

.regular {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-size: 0.9rem;
}

.black {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 650;
    font-style: normal;
}

.light {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    color: gray;
}


.regular_bold {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-size: 0.9rem;
}

h1.regular_bold {
    font-size: 2rem;
    color: #4E3969
}

h3.regular_bold {
    font-size: 1.3rem;
    padding: 1.7rem 0 0 1.2rem
}

:root {
    --primary-color: #4E3969;
    --secondary-color: #7C69A4;
}

.debug {
    background-color: #F6F5F3;

    .container,
    .row,
    .col {
        border: solid 1px green;
    }
}

header {
    background-color: white;
}

.container {
    width: 95%;
    /* max-width: 620px; */
    margin: 1rem auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 0.5rem;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;


}

.col {
    width: 100%
}

.row.short {
    flex-direction: column;
    align-items: flex-start;
}

/* #region COL DIMENSION */
.col-1 {
    width: calc(100% / 12 * 1);
}

.col-2 {
    width: calc(100% / 12 * 2);
}

.col-3 {
    width: calc(100% / 12 * 3);
}

.col-4 {
    width: calc(100% / 12 * 4);
}

.col-5 {
    width: calc(100% / 12 * 5);
}

.col-6 {
    width: calc(100% / 12 * 6);
}

.col-7 {
    width: calc(100% / 12 * 7);
}

.col-8 {
    width: calc(100% / 12 * 8);
}

.col-9 {
    width: calc(100% / 12 * 9);
}

.col-10 {
    width: calc(100% / 12 * 10);
}

.col-11 {
    width: calc(100% / 12 * 11);
}

.col-12 {
    width: calc(100% / 12 * 12);
}

/* #endregion COL DIMENSION */

.list {
    padding: 1.7rem 1.2rem;
    line-height: 1.6rem;
}

.presentation {
    display: inline-block;

    img {
        max-height: 150px;
        float: left;
    }
}

/* MEDIA QUERIES */
@media screen and (max-width: 480px) {
    h1 span {
        display: none;
    }

    .title {
        text-align: center;
    }
}

@media screen and (min-width: 576px) {
    .list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        line-height: 2rem;
    }

    .container {
        width: 90%;
    }

    /* #region COL DIMENSION */
    .col-sm-1 {
        width: calc(100% / 12 * 1);
    }

    .col-sm-2 {
        width: calc(100% / 12 * 2);
    }

    .col-sm-3 {
        width: calc(100% / 12 * 3);
    }

    .col-sm-4 {
        width: calc(100% / 12 * 4);
    }

    .col-sm-5 {
        width: calc(100% / 12 * 5);
    }

    .col-sm-6 {
        width: calc(100% / 12 * 6);
        flex-shrink: 0;
    }

    .col-sm-7 {
        width: calc(100% / 12 * 7);
    }

    .col-sm-8 {
        width: calc(100% / 12 * 8);
    }

    .col-sm-9 {
        width: calc(100% / 12 * 9);
    }

    .col-sm-10 {
        width: calc(100% / 12 * 10);
    }

    .col-sm-11 {
        width: calc(100% / 12 * 11);
    }

    .col-sm-12 {
        width: calc(100% / 12 * 12);
    }

    /* #endregion COL DIMENSION */

}

@media (min-width: 768px) {
    .container {
        width: 85%;
    }

    .list {
        line-height: 2.3rem;
    }

    /* #region COL DIMENSION */
    .col-md-1 {
        width: calc(100% / 12 * 1);
    }

    .col-md-2 {
        width: calc(100% / 12 * 2);
    }

    .col-md-3 {
        width: calc(100% / 12 * 3);
    }

    .col-md-4 {
        width: calc(100% / 12 * 4);
    }

    .col-md-5 {
        width: calc(100% / 12 * 5);
    }

    .col-md-6 {
        width: calc(100% / 12 * 6);
    }

    .col-md-7 {
        width: calc(100% / 12 * 7);
    }

    .col-md-8 {
        width: calc(100% / 12 * 8);
    }

    .col-md-9 {
        width: calc(100% / 12 * 9);
    }

    .col-md-10 {
        width: calc(100% / 12 * 10);
    }

    .col-md-11 {
        width: calc(100% / 12 * 11);
    }

    .col-md-12 {
        width: calc(100% / 12 * 12);
    }

    /* #endregion COL DIMENSION */

}