* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
}

img {
    max-width: 100%;
    height: auto;
}

.title {
    font-family: "Nerko One", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 3rem;
    color: #FE9614;
    text-shadow: 1px 1px rgb(171, 169, 169);

}

.regular {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-size: 0.9rem;
}

.black {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 650;
    font-style: normal;
}

.light {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    color: gray;
}


.regular_bold {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-size: 0.9rem;
}

h1.regular_bold {
    font-size: 2rem;
    color: #4E3969
}

h3.regular_bold {
    font-size: 1.3rem;
    margin-bottom: 1.3rem
}

:root {
    --primary-color: #4E3969;
    --secondary-color: #7C69A4;
}

.debug {
    background-color: #F6F5F3;

    .container,
    .row,
    .col {
        border: solid 1px green;
    }
}

header {
    background-color: white;
}

.container {
    width: 95%;
    max-width: 620px;
    margin: 1rem auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 0.5rem;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;


}

.row.short {
    flex-direction: column;
    align-items: flex-start;
}

.list {
    padding: 1.7rem 1.2rem;
    line-height: 1.6rem;
}

.presentation {
    display: inline-block;

    img {
        max-height: 150px;
        float: left;
    }
}

/* MEDIA QUERIES */
@media screen and (max-width: 480px) {
    h1 span {
        display: none;
    }

    .title {
        text-align: center;
    }
}

/* @media (max-width: 768px) {
    .container {
        width: 100%;
        max-width: 100%;
    }

    .presentation {
        img {
            max-height: 100px;
        }
    }
} */